

%dark-color {
    color: #212121;
}

%light-color {
    color: #FFFFFF;
}

%hover-color {
    color: #2196F3;
}

%link-color {
    color: #757575;
}

%second-title {
    color: black;
}
   
%back-color {
    background-color: #2196F3;
}

%light-back {
    background-color: #F5F4FA;
}

%white-back {
    background: #FFFFFF;
}


