.kind {
    @extend %flex-center;
    

    margin-bottom: 50px;
    gap: 8px;
    @extend %margin-auto;
}

.kind__button {
    @extend %btn-settings ;
    padding: 6px 22px;
    @include  text(500, 16, 1.62, 0.03);

    @extend %dark-color;
    @extend %light-back;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
    &:hover, &:focus {
        @extend %back-color;
        @extend %light-color;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}


